<h2>チーム情報編集</h2>
<%= form_with model:@team, local:true do |f| %>
<div class="container">
  <div class="row">
    <table class="table table-striped">

    <div class="row">
     <div class="col-sm-12">
      <label class="control-label" for="">チーム名</label>
     </div>
    </div>

    <div class="row">
     <div class="col-sm-7">
  　  <%= f.text_field :name, class: 'form-control' %>
  　 </div>
  　</div>

    <div class="row">
     <div class="col-sm-7">
    　 <label class="control-label" for="">参加人数</label>
     </div>
    </div>
    <div class="row">
   　  <div class="col-xs-4 form-inline"><%= f.number_field :minimum_people, class: 'form-control', min:1, max:99, step: "0" %>人〜</div>
   　  <div class="col-xs-4 form-inline"><%= f.number_field :max_people, class: 'form-control', min:2, max:100, step: "0" %>人</div>
    </div>

    <div class="row">
     <div class="col-sm-12">
     <label class="control-label" for="">チーム紹介</label>
    </div>
    </div>

    <div class="row">
     <div class="col-sm-12">
       <%= f.text_area :introduction, class: "form-control", rows:"3", placeholder:"チームの紹介文を記載してください" %>
     </div>
    </div>

    <!--<div class="row">-->
    <!-- <div class="col-sm-12">-->
    <!--  <label class="control-label" for="">チームイメージ画像</label>-->
    <!--   %= f.attachment_field :image %>-->
    <!--  </div>-->
    <!--</div>-->
   </table>
   </div>
 </div>
  <hr>
  <%= f.submit "チーム編集", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
 <% end %>

<%= link_to "戻る", :back %>
