<div class="container">
 <div class='row'>
  <div class="col-xs-9">
   <h2>日記一覧</h2>
  	<table class='table'>
		<tr>
		  <% @diaries.each do |diary| %>
		 <th></th>
			<th>タイトル</th>
			<th>記録日</th>
			<th></th>
			<th></th>
		</tr>
		<tr>
				<td>
				 <ul class="inline-meta">
      <li>
       <%= attachment_image_tag @user, :image, size: "100x100", class: 'icon_image' %>
      </li>
      <li>By  <%= diary.user.name %>
      </li>
     </ul>
				</td>
				<td><%= link_to diary_path(diary.id) do %>
        <%= diary.title %>
        <% end %></td>
				<td><%= diary.date.strftime("%Y年%m月%d日") %></td>
				<td>
				 <ul class="inline-meta">
       <li>
        <%= render "favorites/favorite-btn", diary: diary %></td>
       </li>
       <li>
        <%= link_to "#{diary.diary_comments.count} エール", diary_path(diary.id) %>
       </li>
     </ul>
				</td>
				<td>
      <% if diary.user == current_user %>
       <!--<td>%= link_to 'Edit', edit_diary_path(@diary), class: "btn-sm btn-success edit_diary_#{@diary.id}" %></td>-->
       <!--<td>%= link_to 'Edit', edit_diary_path(@diary), class: "btn-sm btn-success" %></td>-->
       <!--<td>%= link_to 'Destroy', diary_path(@diary), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn-sm btn-danger destroy_diary_#{@diary.id}"%></td>-->
      <% end %>
    <td>
 　 <% end %>
  </div>
 </div>
</div>

<!--%= paginate @diaries %>-->