<% if flash[:notice] %>
 <p class="text-active"><%= flash[:notice] %></p>
<% end %>

<div class="container">
  <div class='row'>
   <div class="col-xs-4">
    <h2>カレンダー</h2>
    <%= month_calendar events: @diaries do |date, diaries| %>
    <%= date.day %>
    <% diaries.each do |diary| %>
    <div>
      <%= link_to diary.title, diary %>
    </div>
    <% end %>
    <% end %>
   </div>


  <div class="col-xs-8">
   <h2>マイページ</h2>
  	<table class='table'>
	  <h3>登録情報</h3>
			<th></th>
			<th></th>
			<th></th>
		<tr>
		  <%= attachment_image_tag @user, :image, :fill, 100, 100, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
			<tr>
				<td>ニックネーム</td>
				<td>:<%= @user.name %></td>
			</tr>
			<tr>
				<td>年齢</td>
				<td>:<%= @user.age %>代</td>
			</tr>
			<tr>
				<td>メールアドレス</td>
				<td colspan="2">:<%= @user.email %></td>
			</tr>
			<tr>
				<td>目標体重</td>
				<td colspan="2">:<%= @user.target_weight %>kg</td>
			</tr>
			<tr>
				<td>現在記録体重</td>
				<td colspan="2">:<%= @user.weight %>kg</td>
			</tr>
			<tr>
				<td>一言</td>
				<td colspan="2"><%= @user.body %></td>
			</tr>
		</tr>
	</table>
	<div class="flex">
		<%= link_to "編集する", edit_user_registration_path, class: 'btn btn-border-shadow' %>
		<%= link_to "日記をつける", new_diary_path, class: 'btn btn-border-shadow' %>
		<td></td>
		<%= link_to "グラフを見る", graph_path, class: 'btn btn-border-shadow' %>
	</div>
	<div class="flex">
	  <td></td>
	 　 <% if current_user.team.present? && current_user.team.my_team?(current_user.id) %>
	  　 <%= link_to "チーム管理", team_requests_path(@user.team_member.team_id), class: 'btn btn-border-shadow' %>
	  　 <%= link_to "参加中のチームを表示", team_path(@user.team_member.team_id), class: 'btn btn-border-shadow' %>
       <%= link_to 'チーム編集', edit_team_path(@user.team_member.team_id), class: 'btn btn-border-shadow' %>
       <%= link_to 'チーム削除', team_path(@user.team_member.team_id), method: :delete, data: { confirm: '本当に消しますか？' }, class: 'btn btn-border-shadow' %>
	  	<% elsif current_user.team.present? %>
       <%= link_to "参加中のチームを表示", team_path(@user.team_member.team_id), class: 'btn btn-border-shadow' %>
	 　 <% else %>
	  	 <%= link_to "チームを新しく作る", new_team_path, class: 'btn btn-border-shadow' %>
	  	 <%= link_to "チームを探す", teams_path, class: 'btn btn-border-shadow' %>
	  	<% end %>
	</div>
  </div>
 </div>
</div>