<% if flash[:notice] %>
 <p class="text-active"><%= flash[:notice] %></p>
<% end %>

<div class="container">
  <div class='row'>
   <div class="col-xs-4">
    <h2>ユーザー情報</h2>
  	<table class='table'>
		<tr>
		 <tr>
       <%= attachment_image_tag @user, :image, :fill, 100, 100, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
     </tr>
     <tr>
		  <td>ニックネーム</td>
		  <td>:<%= @user.name %></td>
		 </tr>
	     <tr>
		  <td>年齢</td>
		  <td>:<%= @user.age %>代</td>
		 </tr>
		 <tr>
		  <td>メールアドレス</td>
		  <td colspan="2">:<%= @user.email %></td>
		 </tr>
		 <tr>
		  <td>目標体重</td>
		  <td colspan="2">:<%= @user.target_weight %>kg</td>
		 </tr>
		 <tr>
		  <td>現在記録体重</td>
		  <td colspan="2">:<%= @user.weight %>kg</td>
	     </tr>
		 <tr>
		  <td>グラフ・体重公開ステータス</td>
		  <td colspan="2">:<%= @user.public_status %></td>
		 </tr>
		 <tr>
		  <td>一言</td>
		  <td colspan="2"><%= @user.body %></td>
		 </tr>
		</tr>
	</table>
  </div>

  <div class="col-xs-8">
   <h2>日記一覧</h2>
    <table class='table'>
	 <tr>
	    	<table class='table'>
		<tr>
		 <th></th>
			<th>タイトル</th>
			<th>記録日</th>
			<th></th>
			<th></th>
		</tr>
			  <% @diaries.each do |diary| %>
		<tr>
				<td><%= link_to diary_path(diary.id) do %>
        <%= diary.title %>
        <% end %></td>
				<td><%= diary.date.strftime("%Y年%m月%d日") %></td>
				<td>
			 <ul class="list-style:none">
				<i class="glyphicon glyphicon-bullhorn">
        <%= link_to "#{diary.diary_comments.count} エール", diary_path(diary.id) %></li>
        <i class="favorite-btn"><%= render "favorites/favorite-btn", diary: diary %></td>
     </ul>
				</td>
				<td>
      <% if diary.user == current_user %>
       <td><%= link_to 'Edit', edit_diary_path(diary), class: "btn-sm btn-success edit_diary_#{diary.id}" %></td>
       <td><%= link_to 'Destroy', diary_path(diary), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn-sm btn-danger destroy_diary_#{diary.id}"%></td>
      <% end %>
    <td>
 　 <% end %>
  </tr>
  </div>
 </div>
</div>